.skills {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;

    h3 {
        padding: 10px;
    }
}

.icons {
    display: flex;
    height: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.box {
    border-radius: 20%;
    width: 60px;
    height: 60px;
    background-color: rgba(5, 12, 48, 0.849);
    margin: 15px;
    padding: 7px;
    
    img {
        width: 100%;

        &:hover {
            filter: drop-shadow(1px -1px 0px #9ca7ac6c);
            transition: 0.3;
            cursor: pointer;
        }
    }
}

.parag-skills {
    transform: translateY(35px);
    font-size: larger;
}

.box1 {
    animation: flutuar 4s ease-in-out alternate-reverse infinite;
}

.box1 {
    animation: flutuar 5s ease-in-out infinite;
}

.box2 {
    animation: flutuar 4.2s ease-in-out infinite;
}

.box3 {
    animation: flutuar 3s ease-in-out infinite;
}

.box4 {
    animation: flutuar 4s ease-in-out infinite;
}

.box5 {
    animation: flutuar 3s ease-in-out infinite;
}

.box6 {
    animation: flutuar 5s ease-in-out infinite;
}

.box7 {
    animation: flutuar 3.5s ease-in-out infinite;
}

@keyframes flutuar{
	0%, 100%{
		box-shadow:0 5px 15px 0 rgba(0,0,0,.6);
	}
	50%{
		box-shadow:0 25px 15px 0 rgba(0,0,0,.2);
		transform:translateY(5px);
	}
}
