
.projeto-article {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 350px;
    height: 270px;
    margin-left: 20px;
    margin-bottom: 80px;
    border-radius: 27px;
    padding: 7px;
    background-color: rgba(5, 22, 78, 0.377);
    background-position: 'center';
    background-size: 'cover';
    background-repeat: 'no-repeat';


    &:hover {
        transform: scale(0.95);
        cursor: pointer;
        transition: ease-in-out 0.4s;
    }

    h2 {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.445);
        border-radius: 10px;
        padding: 12px;
    }

    img {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: aliceblue;
    }

    button {
        padding: 1rem;
        background: #0072c4;
        color: #fff;
        font: inherit;
        text-transform: uppercase;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s;
    }
}

.link-projeto {
    font-size: 13px;
    color: #0b395a;
    font-weight: 600;
    text-decoration: none;
}

.btn-projeto {
    padding: 15px;
    background-color: #0b395a;
    font-family: 'Rajdhani', sans-serif;
}

.projeto-visivel {
    position: absolute;
    transform: translate(-7%, -100%);
    transition: all 1s;
    display: flex;
    right: 0;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(127, 255, 212, 0.473);

    P {
        background-color: rgba(0, 0, 0, 0.637);
        padding: 12px;
        border-radius: 10px;
        font-family: 'Rajdhani', sans-serif;
    }

}

.projeto-none {
    display: none;
}

.projeto-conteudo {
    position: absolute;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 768px) {

    .projeto-article {
        margin: 0 auto 20px;
        min-width: 320px;
    }

    .projeto-visivel {
        position: relative;
        transform: translate(0%, -10%);
        transition: all 1s;
        width: 100%;
        max-height: 400px;
        background-color: rgba(127, 255, 212, 0.473);
        align-self: center;

        img {
            width: 100%;
            height: 100%
        }

        p {
            text-align: center;
        }
    }
}


@media screen and (min-width: 769px) and (max-width: 1439px) { 

    .projeto-visivel {
        position: absolute;
        transform: translate(-4%, -100%);
        width: 60%;
        max-height: 365px;

        img {
            width: 100%;
            height: 100%
        }
    }
}
