#contato {
    width: 100%;
    display: grid;
    grid-template-rows: .5fr 1.5fr;
    grid-template-columns: 1.3fr .7fr;
    justify-content: center;
    grid-template-areas: "h2 h2"
                         "img form" ;
    padding-bottom: 70px;
    margin: 150px 0 50px;
    
    form {
        grid-area: form;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 17px 25px;
        margin-right: 6rem;
        margin-left: 35px;
        width: 400px;
        font-size: 1.125rem;
        background-color: rgba(5, 8, 37, 0.733);
        border-radius: 15px;
        font-family: 'Rajdhani', sans-serif;
        color: #abacd1;

        input, textarea {
            padding: 0.8rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: 8px;
            transition: border-color, box-shadow 0.2s;
            background-color: rgba(255, 255, 255, 0.822);
        }

        textarea {
            min-height: 13rem;
            resize: vertical;
        }
    
        input:hover,
        input:focus,
        textarea:hover,
        textarea:focus {
            outline: none;
            border-color: #09d;
            box-shadow: 0 1 0 3px #7ea4b6;
        }
    
        button {
            width: 100px;
            padding: 1rem;
            background: #0072c4;
            color: #fff;
            text-transform: uppercase;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: 0.2s;
        }
    
        button:hover,
        button:focus {
            outline: none;
            background: #09d;
        }
    }

    h2 {
        grid-area: h2;
        width: 100%;
        align-self: start;
        text-align: center;
        padding: 7px;
    }

   
    }

.imagem-email {
    grid-area: img;
    display: flex;
    justify-content: center;
    align-items: center;
        
    img {
        border-radius: 10px;
        width: 90%;
        height: 70%;
    }
}

@media screen and (min-width: 320px) and (max-width: 1100px) {
    #contato {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column wrap;
        margin-top: 50px;
        

        h2 {
            text-align: center;
            align-self: center;
        }

        form {
            width: 320px;
            margin-top: 50px;
            padding: 10px 25px;
            margin-right: 0;
            margin-left: 0;
        }
    }

    .imagem-email {
        display: none;
    }
}
