
#sobre-mim {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
    border: 2px solid red;
    padding: 17px;
    
    article {

        background-color: rgba(14, 13, 13, 0.644);
        border: 2px solid red;
        width: 400px;
        display: flex;
        justify-content: center;
        padding: 7px;

        p {
            align-self: center;
        }

        img {
            width: 200px;
            border-radius: 105px;
        }
    }
}