
#sobre-mim {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 17px;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1px;
    
    article {
        
        border-radius: 10px;
        background-color: rgba(12, 9, 32, 0.76);
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 5px;

        p:hover {
            transform: scale(1.03);
            border-bottom: 1px solid blue;
            border-right:  1px solid blue;
            border-radius: 7px;
            transition: .5s;
            background-color: rgba(12, 9, 32, 0.822);
        }

        img {
            width: 230px;
            border-radius: 7px 65px 7px;
            box-shadow:0 25px 17px 0 rgba(0, 0, 0, 0.671);
            padding: 10px;
        }
    }
}

.parag-1 {
    text-align: center;
    font-size: 25px;
    width: 190px;
    border-bottom: 1px solid blue;

}

.sobre-mim-img {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.descricao {
    max-width: 600px;
    padding: 17px;
    
}